<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/html.png/'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits]="false"
    [title]="'Java Script'"
    [titleColor]="'#000000'"
    [titleFontSize]= "'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [showUnits]="false"
    [title]="'Git Hub'"
    [titleColor]="'#000000'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [title]="'Flexibilidad'"
    [titleColor]="'#000000'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [title]="'Inglés'"
    [titleColor]="'#000000'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]="false"
    [title]="'Trabajo en equipo'"
    [titleColor]="'#000000'"
    [titleFontSize]="'19px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ADFF2F'"
    [innerStrokeColor]="'#800080'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
   