.row{
    padding: 20px;
}
div{
    background-color: rgb(12, 12, 12);
    text-align: center;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 500px;
    }
}

@media (min-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 500px;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5px;
}

